<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stone.stonemusic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />



    <application
        android:name=".utils.MusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_log"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_log"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".UI.activity.FirstActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".UI.activity.HomeActivity"
            android:launchMode="singleTask" />
        <activity android:name=".UI.activity.PlayActivity" />

        <service
            android:name=".service.MusicService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".UI.activity.SettingActivity" />

        <activity android:name=".UI.activity.AboutActivity" />
        <activity android:name=".UI.activity.OnlineMusicListActivity"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".UI.activity.FindActivity"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name=".UI.activity.LocalArtistListActivity" />

        <activity android:name=".UI.activity.LoveListActivity" />
    </application>

</manifest>